<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Angelina Rodriguez, Inc</span>
    </div>
  
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="#">
        <svg class="bi" width="24" height="24">
          <use <img src="/logos/insta.png":href="#insta"></use>
        </svg>
      </a>
    </li>
      <li class="ms-3">
        <a class="text-muted" href="#">
          <svg class="bi" width="24" height="24">
            <use src="https://legendary-space-train-977pj7qv9vgv2xq9v-5000.app.github.dev/logos/twitter.jpg":href="#twitter"> </use>
          </svg>
        </a>
      </li>
      <li class="ms-3" <img src="https://legendary-space-train-977pj7qv9vgv2xq9v-5000.app.github.dev/logos/facebook.jpg">
        <a class="text-muted" href="#">
          <svg class="bi" width="24" height="24">
            <use :href="#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</div>